* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --bright-green: #00ff47;
  --dark-green: #005718;
  --bright-orange: #ff4c00;
  --dark-orange: #e34704;
}

body {
  background-color: black;
}

#one-movie {
  height: 20rem;
  background-image: url('../images/joker.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 1rem;
  color: white;
}

#one-movie::after {
  content: '';
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

#one-movie .search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

#one-movie .search input {
  border: solid var(--bright-green) 3px;
  background-color: rgba(232, 232, 232, 0);
  padding: 0.5rem 3rem;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  width: 100%;
  color: white;
  outline: none;
}

#one-movie .search input::placeholder {
  padding-left: 1.5rem;
  color: white;
}

#one-movie .search input:focus::placeholder {
  color: transparent;
  transition: all 0.1s ease-in-out;
}

#one-movie .search i {
  color: white;
  position: absolute;
  z-index: 2;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

#one-movie .details {
  margin: 3rem 2rem 2rem;
  position: relative;
  z-index: 1;
}

#one-movie .details h2 {
  font-size: 2rem;
}

#one-movie .details span {
  font-size: 0.8rem;
  font-weight: 300;
}

#one-movie .details button {
  margin-top: 1rem;
  background-color: var(--bright-green);
  padding: 0.5rem 3rem;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#one-movie .details button:hover {
  background-color: inherit;
  color: var(--bright-green);
  outline: 2px solid var(--bright-green);
  box-shadow: 0 0 10px 0 var(--bright-green), 0 0 20px 0 var(--bright-green),
    0 0 30px 0 var(--bright-green);
}

#movies-section {
  background-color: black;
  color: white;
  margin-top: 2rem;
  padding: 0 1rem;
  overflow-y: scroll;
}

#movies-section .movie {
  border: solid var(--dark-green) 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 30px;
}

#movies-section .movie .details {
  display: flex;
}

#movies-section .movie .img {
  width: 5rem;
  height: 3rem;
  background-image: url('../images/joker.jpg');
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
}

#movies-section .movie button {
  background-color: var(--dark-green);
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#seasons-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.5rem;
  padding: 2rem 1rem;
  display: none;
}

#seasons-section .season {
  background-image: url('../images/joker.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 10rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  color: white;
  z-index: 2;
}

#seasons-section .season::after {
  content: '';
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

#seasons-section .season h3,
button {
  position: relative;
  z-index: 1;
}

#seasons-section .season button {
  background-color: var(--dark-green);
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#seasons-section .season button:hover {
  background-color: inherit;
  color: var(--bright-green);
  outline: 2px solid var(--bright-green);
  box-shadow: 0 0 10px 0 var(--bright-green), 0 0 20px 0 var(--bright-green),
    0 0 30px 0 var(--bright-green);
}

@media (min-width: 1024px) {
  main {
    display: flex;
  }
  #one-movie {
    width: 50%;
    height: 100vh;
  }

  #one-movie .search input {
    padding: 1rem 5rem;
    border-radius: 30px;
  }

  #one-movie .search input::placeholder {
    font-size: 1rem;
  }

  #one-movie .details {
    margin: 10rem 2rem 2rem 4rem;
  }

  #one-movie .details h2 {
    font-size: 3rem;
  }

  #one-movie .details span {
    font-size: 2rem;
  }

  #one-movie .details button {
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  #movies-section {
    width: 50%;
    height: 95vh;
    overflow-y: scroll;
  }

  #seasons-section {
    width: 50%;
    height: 95vh;
    overflow-y: scroll;
  }

  #seasons-section .season {
    width: 33%;
    height: 17rem;
  }
}

@media (min-width: 1440px) {
  main {
    display: flex;
  }
  #one-movie {
    width: 50%;
    height: 100vh;
  }

  #one-movie .search input {
    padding: 1rem 5rem;
    border-radius: 30px;
  }

  #one-movie .search input::placeholder {
    font-size: 1rem;
  }

  #one-movie .details {
    margin: 10rem 2rem 2rem 4rem;
  }

  #one-movie .details h2 {
    font-size: 5rem;
  }

  #one-movie .details span {
    font-size: 2rem;
  }

  #one-movie .details button {
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  #movies-section {
    width: 50%;
    height: 90vh;
    overflow-y: scroll;
  }
}
